# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.turbo/
.cache/
*.log

# Env & secrets
.env
.env.*

# OS / editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Prisma
Web/backend/node_modules/.prisma/

# Vite / frontend
Web/frontend/.vite/

